h1 {
    text-align: center;
    font-size: 50px;
}

h2 {
    text-align: center;
    font-size: 30px;
}

h3 {
    text-align: center;
    font-size: 30px;
}

h4 {
    text-align: center;
    font-size: 30px;
}

p {
    text-align: center;
    font-size: 20px;
}

img {
        width: 450;
        border: 5px solid rgb(10, 0, 153);
        display: block;
        margin-left: auto;
        margin-right: auto;
        }


        img {
            border: 5px solid #555;
          }


